version: '3.8'
services:
	backend:
		build:
			context: ../backend
			dockerfile: ../infra/Dockerfile.backend
		ports:
			- '4000:4000'
		environment:
			- NODE_ENV=development

	ai:
		build:
			context: ../ai
			dockerfile: ../infra/Dockerfile.ai
		ports:
			- '8000:8000'

